[2020-01-08 18:48] mworzala opened #2 "Compile node from source"
It would be nice to have a feature to compile the node from source (given a git repository perhaps) instead of using the latest release.

I implemented this for personal use which I can submit as a PR, but I am not super excited about how I did it.

[2020-01-21 15:49] wisthsb1519 opened #3 "Unable to import account mnemonic"
When running `./sandbox goal account import -m [ACCOUNT MNEMONIC]` returns with `Problem with mnemonic: mnemonic must be 25 words`

[2020-01-22 16:17] #3 closed

[2020-01-27 18:29] winder commented on #2
Thanks for the suggestion, I think it's a good idea. Feel free to open a PR and I can give you some feedback.

[2020-02-18 18:11] eztierney opened #6 "use-snapshot flag does not use a snapshot"
`--use-snapshot` actually skips downloading the snapshot.

The introduction says to start a testnet node with `./sandbox up testnet --use-snapshot` but then it takes forever to sync.

[2020-02-24 13:29] #6 closed

[2020-02-26 14:47] purestaketdb opened #9 "Handle 'cannot connect to Docker daemon' correctly"
Minor issue when running './sandbox up' on OS X when the Docker daemon has been turned off. Sandbox util incorrectly reports progress, while also showing errors from Docker.

`Building a new Docker Image...
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?
ERRO[0000] failed to dial gRPC: cannot connect to the Docker daemon. Is 'docker daemon' running

[2020-03-10 16:59] winder commented on #9
Strange, `set -e` is supposed to terminate the program when an error like this happens.

Does this script execute for you?
[code]

[2020-03-10 20:48] purestaketdb commented on #9
It did not reach the echo statement. This is really minor in the grand scheme of thing, as the errors are outputted along the way.

[2020-03-17 16:53] winder commented on #9
@purestaketdb could you see if the improvement @fabrice102 made fixes this?

[2020-04-20 21:53] rfustino opened #13 "Windows error: Cannot contact Algorand node: open /opt/algorand/node/data/algod.net: no such file or directory."
When running sandbox on my Windows machine, I had and error when bringing up sandbox on a drive other than my boot drive, say the D: drive.  Error was this... Cannot contact Algorand node: open /opt/algorand/node/data/algod.net: no such file or directory.

Workaround: I needed to clone the repository to a location on my boot drive, C:  and run sandbox from there.

[2020-07-15 18:12] winder opened #14 "Private Network Mode"
## Summary:
There should be a way to start a private network inside the sandbox. For a lot of development work there is no need to be connected to a real network, or a real network would even make things less convenient since there will naturally be activity outside of your control.

Running from a private network also would allow us to do other cool things, like add an indexer node.

An environme

[2020-09-14 15:42] #9 closed

[2020-09-14 15:42] winder commented on #9
Let me know if this is still an issue, closing due to inactivity.

[2020-09-14 15:50] winder commented on #13
Sounds like sandbox got into a bad state. Please reopen the issue with steps to reproduce if you can reproduce the problem.

[2020-09-14 15:50] #13 closed

[2020-11-23 18:25] #2 closed

[2020-11-25 22:10] #14 closed

[2020-12-03 15:34] ryanRfox opened #23 "Improve Docker Error Handling"
As a `sandbox` user, having concise, meaningful error handling for the required Docker environment is helpful.

Sandbox 1.0 had helpful output:
[code]

Sandbox 2.0 could be improved:
[code]

[2020-12-06 03:42] redcpp opened #24 "Unable to copy from subdirectories"
`sandbox copy myfile.teal` works well within the sandbox parent directory `/path/to/sandbox`.

However, running `sandbox copy subdir/myfile.teal` fails with error:
Error: No such container:path: 434a0b7a05e145b02113d86738b7577bf8a33b8225f8ee2f52666aeebe51cffc:/opt/data/home/user/path/to/sandbox/subdir

I have no problem working with all my files on the parent directory but would be nicer to have a

[2020-12-21 18:42] ian-algorand commented on #23
We might need to generally improve error handling here. Thanks for bringing it up.

[2021-01-06 05:31] modernlearner commented on #9
I just ran into this issue with "connection refused". It looks like the docker.pid or docker.sock permissions have to be changed to allow a connection. The Docker installation guide is a misleading because it considers docker installed successfully when the command `sudo docker run hello-world` works.

However, without running as root:

[code]

Based on a [stackoverflow answer](https://stackoverfl

[2021-01-25 17:48] fabrice102 commented on #9
Thanks @modernlearner for your answer to detect Docker running.

However, doing
[code]
should only be done on experimental machines without any important data.

On Linux, it indeed gives full root access to any user of the machine.
See https://docs.docker.com/engine/security/#docker-daemon-attack-surface

Adding your username to the group `docker` is slightly better:
[code]
(followed by logging ou

[2021-02-01 16:23] #24 closed

[2021-02-16 19:47] hugoburguete opened #26 "Indexer doesn't update transactions"
I've been experimenting this tool but I can't seem to figure out why my indexer doesn't get updated.

In the below screenshot, I've queried the indexer before and after doing a transaction but the round doesn't seem to update nor do any of my transactions show up:
![image](https://user-images.githubusercontent.com/17925235/108113493-82154b80-708f-11eb-8de6-834081cd4d53.png)

Am I missing something

[2021-02-17 20:05] hugoburguete commented on #26
Also noticed there's a `./sandbox clean` command but the transactions are still not showing up :/

[2021-02-18 03:14] winder commented on #26
@hugoburguete you aren't missing anything, there is a new protocol version on algod and indexer hasn't been updated yet.

[2021-02-18 20:25] hugoburguete commented on #26
@winder Great, thanks for the tip, wasn't aware that nightly was using a development branch.

I will leave this issue open in case you someone wants to use it as a reminder to use the release config by default but feel free to close it if it's not necessary 👍

[2021-02-19 19:34] winder opened #27 "Fix error message when starting with an invalid configuration"
Looks like we made a mistake somewhere

[code]

[2021-02-19 19:35] winder commented on #27
Fixed with fa6daa690455da731c57722c15c2b44ad38eaba4

[2021-02-19 19:35] #27 closed

[2021-02-19 19:37] winder commented on #26
@hugoburguete thanks for the bug report. The development branches will be compatible shortly, and if you get the latest sandbox script, it's now configured to use the release branches by default.

[2021-02-19 19:37] #26 closed

[2021-03-11 15:06] winder opened #31 "Weird behavior after dockerd restart"
# Behavior

When you restart the docker daemon only the indexer container restarts with it.

# Expected behavior

The indexer container should not start itself automatically.

# Notes

This is almost certainly related to the hack used to keep restarting indexer until the postgres container finishes being initialized. In the docker-compose.yml file there are lines like this:
[code]

These lines sho

[2021-03-24 14:06] winder opened #34 "Change config.release indexer branch back to master"
Sandbox depends on some features that are not yet in indexer's master branch. To workaround this the release configuration builds with indexer's develop branch. On the next indexer release we should change the release config to use master.

[2021-03-24 16:43] orsi-dev opened #35 "algorand-sandbox-indexer Error: unknown flag: --logfile"
hello,
i've found an error building the image of the indexer that restart the container in loop:

Follow the error:

algorand-sandbox-indexer | Connecting to algod:4001 (172.23.0.3:4001)
algorand-sandbox-indexer | saving to 'genesis.json'
algorand-sandbox-indexer | genesis.json         100% |********************************|  1697  0:00:00 ETA
algorand-sandbox-indexer | 'genesis.json' saved
algora

[2021-03-24 16:47] winder commented on #35
Sorry, this is a regression due to a change in the Indexer repo. It is fixed with https://github.com/algorand/sandbox/pull/33 so pulling the latest sandbox changes should resolve the problem.

[2021-03-24 16:47] #35 closed

[2021-03-24 16:48] orsi-dev commented on #35
great!
thank you

[2021-03-24 17:48] chicopaec opened #36 "Provide easy way of adding/modifying configs"
When you use sandbox today it's hard to change the default values, like if you want to change the algod node to be an archival node, you'd have to change `images/algod/setup.py` and rebuild everything from scratch. It would be nice if `sandbox up` could support adding extra configs that would overload the existing default ones, or something similar.

[2021-03-24 18:19] chicopaec opened #37 "Lock version of stable/nightly to git commits"
From Discord:

![image](https://user-images.githubusercontent.com/80551253/112363194-83ace180-8cd5-11eb-855f-0380291df572.png)

It seems that sandbox currently downloads the latest version available for stable/nightly rather than manually upgraded via SCM so each algod/indexer version is guaranteed a separate git commit.

This makes the stability of the sandbox worse than it has to be, as new vers

[2021-03-24 19:58] winder commented on #37
Thanks for the suggestion.

Currently algod is installed from pre-built artifacts in the same manner an end user would install them.

Unfortunately we don't have a good way to programatically fetch the latest indexer releases at the moment so it gets rebuilt each time.

[2021-03-29 15:39] atrefonas opened #38 "Issues setting up sandbox on Windows 10 - and discovered a fix"
Hello, so I had some issues setting up sandbox on Windows 10 with docker and git bash. Went through the steps exactly. There is a strange error about “the input device is not a TTY” which is related to git bash. The symptoms are that you can’t see much of the output text from sandbox. However, I solved the issue with a one line change in the sandbox code. See these screenshots

It's basically this

[2021-03-29 18:04] winder commented on #36
@chicopaec Many of the parameters are configurable with the `config.*` files, but not all of them. Aside from archival, which would definitely be nice for private network nodes, did you notice anything else missing?

[2021-03-29 18:54] winder commented on #38
@atrefonas does this work as well?

[code]

[2021-04-02 21:49] atrefonas commented on #38
Yes, this worked perfectly. Reproduced the issue and then tried it with the fix. Thank you so much!

[2021-04-07 19:50] rezabfil-sec opened #39 "Postgresql 13-alpine issue on Raspberry Pi"
Hi,
When I was setting up the sandbox on Raspberry Pi, I realized that the `postgresql `docker container did not start. There was no error message during the execution of the `./sandbox up -v` and the container seemed to be up, but exited after few seconds. It caught my attention during a run of `./sandbox test -v`, where  `curl "localhost:8980/health?pretty"`  resulted in `curl: (56) Recv failure

[2021-04-15 20:16] winder opened #41 "Update algod / indexer during "up""
There are some cases where it might be useful to update an existing sandbox deployment to generally speed it up (and make it easier to update).

1. If a set of accounts have been created, on the latest "nightly" release, it might be nice to update to the next nightly version each day.
2. If a branch is being used it would be very convenient to allow an incremental build as new sources are pushed i

[2021-04-26 23:08] atrefonas opened #43 "'sandbox enter algod' not working on Windows"
[code]

I think the reason is that git-bash was installed on my computer to: C:\Program Files\Git\git-bash.exe

[2021-04-29 14:41] ryanRfox commented on #41
I like this feature request as a time saver. I also agree it is not a huge priority as `sandbox` users may perform these tasks manually as a workaround.

[2021-05-04 14:59] winder commented on #31
Experimented with this a little bit while testing something else. This is most of the way towards a solution:
[code]

[2021-05-18 11:55] oysterpack opened #46 "unable to connect to indexer REST endpoint on local sandbox"
`./sandbox test` output:
[code]

 ./sandbox version
[code]

- I am running on pop-os 20.10 (ubuntu debian)

[2021-05-20 01:27] fabrice102 commented on #46
Which network are you using (i.e., which parameter did you give to `./sandbox up`)?
Can you show `./sandbox goal node status`?

[2021-05-20 11:21] oysterpack commented on #46
[code]

[2021-05-20 14:31] #34 closed

[2021-05-24 17:55] oysterpack commented on #46
The issue automagically resolved itself ... the only thing that changed was that I rebooted my laptop

[code]

[2021-05-24 17:55] #46 closed

[2021-06-04 15:37] BubsLB opened #47 "'make sandbox-up' doesn't work on Mac"
I've installed algod
algod -v:
[code]
but when I try to execute 'make sandbox-up' in the _infrastructure_ dir it failed (attached the log below)

<img width="2047" alt="Schermata 2021-06-04 alle 17 36 23" src="https://user-images.githubusercontent.com/74781915/120827179-74f76c00-c55b-11eb-8776-9b63dd97a11c.png">

[2021-06-07 13:58] michielmulders commented on #41
**If you want to solve this issue, take a look at our bounty program that rewards improvements to the [Algorand Sandbox](https://gitcoin.co/issue/algorandfoundation/grow-algorand/30/100025839).**

[2021-06-07 13:58] michielmulders commented on #23
**If you want to solve this issue, take a look at our bounty program that rewards improvements to the [Algorand Sandbox](https://gitcoin.co/issue/algorandfoundation/grow-algorand/30/100025839).**

[2021-06-08 14:20] winder commented on #47
We don't support a Makefile, you should use the `sandbox` bash script.

[2021-06-11 16:03] overhead525 commented on #41
@winder Can you take a look at the above issue I mentioned to see if my solution is what you were looking for?

[2021-06-25 03:34] tylercubell commented on #38
It might help to avoid future issues by suggesting WSL2 on Windows instead of Git Bash. I ran into this issue and another syncing issue (not sure of cause) using the Git Bash installation method. When I switched to WSL2, everything worked as expected.

[2021-07-01 16:31] yaovi-a commented on #43
#38

[2021-07-01 16:33] #43 closed

[2021-07-02 07:06] NoelJacob commented on #38
@tylercubell can you tell how you used wsl?

[2021-07-02 07:09] NoelJacob commented on #38
I use git busybox on windows. I don't know if it's that but I get:
[code]

[2021-07-23 21:19] jdtzmn opened #61 "Support custom `consensus.json` files"
## Problem

Algod allows for custom `consensus.json` files as long as they are located in the data directory, but getting a `consensus.json` file to the data directory requires the `copyTo` command and several docker up/downs. It would be nice if there was a CLI argument that allowed you to pass your own `consensus.json` file on `./sandbox up`.

## Solution

Add a CLI argument to sandbox for copyi

[2021-07-23 21:27] jdtzmn opened #62 "Support devmode networks"
## Problem

While it is possible to start a devmode local network by copying a `network_template.json` into the `images/algod` directory, it would be nice if there was a `config.devmode` file available so starting a local devmode network would be as simple as `./sandbox up devmode`.

## Solution

Include a `devmode_template.json` network template in the `images/algod` directory and add a `config.d

[2021-07-25 16:06] Silventino commented on #38
This should be merged

[2021-07-31 13:54] ipaleka commented on #62
What should be done to successfully start the indexer to? By following your solution, the following error is raised:
[code]

[2021-07-31 15:08] ipaleka commented on #62
I had to increase timeout for the Indexer to exactly 61 seconds with the solution you've provided. Any thoughts on this as for the regular release a timeout of 5 seconds is enough.

[2021-08-02 12:54] winder commented on #62
@ipaleka what timeout are you referring to?

[2021-08-02 13:18] ipaleka commented on #62
The time needed for a transaction created by node to appear in the Indexer database.

[2021-08-21 06:34] jasonboukheir opened #64 "sandbox running in Github Actions fails with `the input device is not a TTY`"
### Subject of the issue

I've tried setting it up sandbox as a service for my test workflow:
https://github.com/CareBoo/unity-algorand-sdk/blob/66efbd3c969242610fdb994095dd7eae0ecae9ff/.github/workflows/test.yaml

but I'm running into `the input device is not a TTY`

### Your environment

Github Action runner:
https://github.com/CareBoo/unity-algorand-sdk/blob/66efbd3c969242610fdb994095dd7eae0eca

[2021-08-21 09:41] barnjamin commented on #64
maybe see https://github.com/actions/runner/issues/808 for a solution

[2021-08-24 21:13] jasonboukheir commented on #64
I got it running with a workaround by using
[code]

I'm still working on connecting it to the actions, but this issue itself should be closed out. Thanks @barnjamin !

[2021-08-24 21:13] #64 closed

[2021-08-31 06:29] algochoi commented on #62
#70 should resolve this issue -- `config.dev` now references the dev mode network template so `./sandbox up dev` should now use the dev mode network to instantly generate blocks per round rather than per ~4.5s. But I haven't checked yet if this affects the indexer timeout.

[2021-08-31 09:35] ipaleka commented on #62
I'm afraid the timeout is still set exactly to 60 seconds.

Give it a try: [this is a repository](https://github.com/ipaleka/algorand-contracts-testing) you can use:
[code]
That last line will run the test and it will pass, but if you change the INDEXER_TIMEOUT value in [helpers module](https://github.com/ipaleka/algorand-contracts-testing/blob/main/helpers.py) from 61 to even 60 (in my case) then

[2021-08-31 12:45] winder commented on #62
@ipaleka You could add one extra transaction at the end of your test to force a new block to be created. The way "wait-for-block" works in algod is off-by-one which has led to some weird behaviors when mixed with dev-mode. For more details there are comments in this issue: https://github.com/algorand/go-algorand/issues/2716

[2021-08-31 13:10] ipaleka commented on #62
Thank you @winder for the explanation.

This tutorial is going to be published this week on the Developer Portal and devMode is just mentioned in it. Adding that extra transaction would imo create an unnecessary confusion to the readers.

Still, one a bugfix is created I'll update the repo.

[2021-09-08 14:05] winder commented on #62
Closed by #70

[2021-09-08 14:05] #62 closed

[2021-09-19 11:56] plasmatech8 opened #73 "Quicknet"
## Problem

Developers might want to test transactions faster, or test a full deployment, or run unit tests without having to wait for minutes for multiple transactions to finish.

## Solution

A network that processes transactions almost immediately.

## Dependencies

?

## Urgency

Low urgency.

[2021-09-19 11:58] barnjamin commented on #73
https://github.com/algorand/sandbox#private-network see the `dev` mode

[2021-09-19 12:55] plasmatech8 commented on #73
@barnjamin Oh thanks. I didn't realize.

[2021-09-19 12:55] #73 closed

[2021-09-19 13:31] ChrisBagge opened #74 "Accounts for private network"
Hi,

"By default you will be given access to a private network. This environment is preloaded with a number of accounts ready to use for testing transactions, and includes an Indexer service configured to synchronize against the private network. Because it doesn't require catching up to one of the long running networks it also starts very quickly."

Can you please explain how to get the informatio

[2021-09-19 14:11] barnjamin commented on #74
You can see the accounts that were added with something like `./sandbox goal account list`

[2021-09-19 16:41] ChrisBagge commented on #74
thank you!

[2021-09-19 16:41] #74 closed

[2021-11-08 17:27] devendr4 opened #81 "Missing BRANCH or URL environment variable. Skipping install."
### Subject of the issue

I'm getting this error when trying to run the command `./sandbox up testnet -v` after cloning the repo on EndeavourOS, an Arch Linux based distribution

![image](https://user-images.githubusercontent.com/39252256/140789182-710091a0-b24b-48d1-8072-73bfcfe71ca7.png)

### Your environment

### Steps to reproduce

1. git clone https://github.com/algorand/sandbox.git
2. cd san

[2021-11-08 18:58] barnjamin commented on #81
likely related to https://github.com/docker/compose/issues/8882

[2021-11-08 19:23] devendr4 commented on #81
yes that was it @barnjamin, I had to downgrade docker-compose to 1.x.x and it worked

[2021-11-08 19:23] #81 closed

[2021-11-14 16:25] gsmachado opened #82 "docker images in docker hub"
Hello,

This is rather a question than a bug/feature.

Is this git repo the one that is used to build all images in https://hub.docker.com/u/algorand?

Could you please better specify how the docker hub images are built? (i.e., which git repo contains the Dockerfile etc)

[2021-11-19 23:27] GuidoDipietro commented on #13
Hi there, we just stumbled upon this same error when attempting to run the Algorand Sandbox from a OneDrive synced folder.
It got immediately fixed by moving the Sandbox directory to outside that folder.

In case anybody's struggling with that, now you know.

[2021-11-24 13:54] andreanistico opened #84 "Use a single docker image for all sandbox components as an alternative to the current docker-compose structure"
## Problem

The problem with the current Docker Compose structure of the Sandbox occurs when there is necessity to execute the sandbox inside a Docker environment if DinD (Docker-in-Docker) is not available.

For example, Gitlab.com CI/CD allows executions of pipeline code inside a given Docker image, and doesn't allow Docker-in-Docker images. Using a single image that exposes all the components a

[2021-11-27 09:21] jordan-public opened #85 "Installation crashes"
### Subject of the issue

Trying to install sandbox on Ubuntu 20.04 but it crashes upon startup.

### Your environment

### Steps to reproduce

1.uname -a
Linux MBP 5.11.0-40-generic #44~20.04.2-Ubuntu SMP Tue Oct 26 18:07:44 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
2. mkdir algorand
3. cd algorand
4. git clone https://github.com/algorand/sandbox.git
5. ./sandbox up dev -v
libtool is required, but

[2021-11-27 12:55] barnjamin commented on #85
Hi Jordan, Thanks for reporting.

I just filed a PR to add libtool back to the install script, its linked above.

If you want to test you can temporarily set your config.dev file to have the following parameters
[code]

[2021-11-27 20:00] jordan-public commented on #85
Thank you Ben for your fast response.

Jordan

[2021-11-29 21:25] gsmachado commented on #82
@ryanRfox do you have a clue? or maybe know someone that could answer me that? 😄

[2021-11-29 22:12] gsmachado commented on #84
Yes, I pretty much support this.

It would be great to have everything in a single docker container. 👍

[2021-11-29 22:24] winder commented on #82
It is not, the docker images here are their own thing

[2021-12-01 14:06] ma-spadafora commented on #84
It would be great for testing.

[2021-12-03 14:24] winder commented on #84
Thanks for the feedback everyone. I can honestly say that this use case never occurred to us. I don't know if we'd support this in sandbox, but maybe it's worth supporting directly.

Could I ask a follow-up question:
What endpoints are you using for tests?
What features would be most useful for testing?
When used, would you still call "sandbox" or would you extend the unified docker container to i

[2021-12-09 13:35] andreanistico commented on #84
Hi @winder , these are the answers:

We're using almost all endpoints on _algod_ and `/v2/accounts`, `/v2/transactions`  on _indexer_.

It would be useful to have _algod_ and _indexer_ preferably inside an extendible docker image (i.e. one based on Alpine with apk or Ubuntu with apt-get). We don't use _kdm_ at the moment.

We would extend the docker to include the test environment. For example, in

[2021-12-16 08:02] Junaidiqbal35 opened #89 "Window 11 the input device is not a TTY ."
I'm using window 11, docker version 4.2.0 I'm facing this errror: "the input device is not a TTY.  If you are using mintty, try prefixing the command with 'winpty'.
Any solution for this? I'm trying to learn pyteal but facing this issue.

[2021-12-16 15:33] marcosnc opened #90 "Allow sandbox commands to be executed from Node"
## Problem

When a sandbox command is executed from Node (and maybe other platforms) it raises the following error:

`Command failed: ... the input device is not a TTY`

## Solution

An easy fix for this problem is to change the `goal_helper` function to add the `-T` parameter as follows:

[code]

## Dependencies

No dependencies

## Urgency

Normal

[2021-12-24 15:12] raj713335 opened #92 "unbale to start the sandbox in windows"
### Subject of the issue
unable to run the sandbox

ZEUS@DESKTOP-NDIDRTG MINGW64 ~/Desktop/Algorand/sandbox (master)
$ ./sandbox up -v

Starting default sandbox: release
* docker-compose up -d
Building indexer
[+] Building 25.3s (12/12) FINISHED
 => [internal] load build definition from Dockerfile

[2021-12-27 04:12] baobillnguyen opened #94 "ConnectionRefusedError"
### Subject of the issue

I am trying test a connection and I got this ConnectionRefusedError.

I am using Sandbox.

would appreciate any help.

attached is the screen shot.

Thanks!
![Uploading image.jpg…]()

### Your environment

### Steps to reproduce

1.
2.

### Expected behaviour

### Actual behaviour

[2022-01-06 10:45] tallywiesenberg opened #95 "Algod doesn't start on hotspot wifi"
### Subject of the issue

If I run `./sandbox up` while using a hotspot for WIFI, I get the following error `service "algod" is not running container #1`, and I am unable to use `sandbox`.

### Your environment
Processor/kernel info:
`Darwin Tallys-MacBook-Air.local 21.1.0 Darwin Kernel Version 21.1.0: Wed Oct 13 17:33:24 PDT 2021; root:xnu-8019.41.5~1/RELEASE_ARM64_T8101 arm64`
MacOS info:
`Syste

[2022-01-10 15:28] rjblopes commented on #92
Had similar problem in Mac and updating Docker fixed it

[2022-01-14 19:41] vikram14s opened #96 "Delete and re-install sandbox?"
Hi,

How do I delete and re-install sandbox?

[2022-01-24 13:17] nullun opened #98 "Unexpected behaviour with Docker 4.4.2 on macOS 12.1"
### Subject of the issue

When updating docker to version 4.4.2 the sandbox script will error when performing `./sandbox up -v` However it still successfully launches the containers.
After successfully launching the containers, the following error is given before fully completing the output:
[code]

I also came across this issue when trying to pipe the output of `./sandbox goal account list | awk

[2022-01-24 13:44] vividn opened #99 "Dev mode for indexer as well"
## Problem
The `dev` mode for the sandbox is a nice feature that allows for rapid transactions to be made during development and testing. However, the indexer does not keep up with algod in this mode. In fact, it takes longer for the indexer to recognize new transactions and add them to the index, than it does in "normal" mode for the transaction to confirm and then be added to the index. Because

[2022-01-24 13:51] reischapa commented on #99
@vividn

Ran into issues related to this today as well. +1 for this feature.

[2022-01-24 16:39] nullun commented on #98
With the help from barnji and MonopolyMan from Discord we were able to pin point this down to docker-compose rather than docker.

I've found that if in the general preferences you uncheck "Use Docker Compose V2", it will continue to work as before on 4.4.2, so that's at least a temporary solution.

[2022-01-28 23:57] algorithmical opened #100 "docker compose setup /node/algod error"
### Subject of the issue

I'm following https://developer.algorand.org/docs/sdks/go/
with `sudo docker-compose up`, and I get an error no such file /node/algod

### Your environment

Ubuntu 20.04

### Steps to reproduce

1. Follow the tutorial

### Expected behaviour

* algorand dev testnet installs

### Actual behaviour

[code]

[2022-01-30 13:20] robdmoore commented on #99
+1

[2022-01-30 13:22] robdmoore commented on #84
Having access to kmd so you can programmatically get hold of the default wallet is handy too.

[2022-01-30 13:29] robdmoore commented on #82
+1 for getting official sandbox images pushed to docker hub. If I want to run sandbox on my CI/CD pipeline then I need to wait for ages for it to build the sandbox and if the current code in main branch is busted then it fails (which happened when I ran it today).

If there are official images then we can pull the latest stable one and it will run really quickly and reliably.

[2022-01-30 16:53] #92 closed

[2022-02-03 06:21] robdmoore commented on #100
It would be amazing if we could get an officially published docker container or sandbox. It would allow it to be used in CI/CD pipelines let alone locally much more easily (via docker compose) let alone much faster. This is a big limitation to the dev experience right now.

[2022-02-03 06:24] robdmoore commented on #99
More context here. The Reach Algorand dev container has some patches they apply to get this kind of experience and on an autoamted test I wrote it went from `37s` to `7s` when switching from Algorand Sandbox to the reach version.

The only problem is the reach sandbox doesn't expose Kmd so I can't automate getting the default wallet (although I can hardcode the address they encoded so there is a w

[2022-02-03 07:18] robdmoore commented on #82
Related: https://github.com/algorand/sandbox/issues/100

[2022-02-05 15:13] algorithmical commented on #100
Yeah. I have experience in other blockchain dev environments and I'd love to learn algorand.
However it is very uncompelling to attempt to follow the documentation and get errors immediately.
IMO the documentation published should be 100% reproducible on a fresh machine. I'd love too try algorand coding but I would need the team too have a working build and develop process without the developer ha

[2022-02-05 15:16] barnjamin commented on #100
@algorithmical what version of docker are you on? there have been some noted with the most recent docker version solved by downgrading to a slightly older version.

[2022-02-09 00:19] joe-p opened #102 "Remove layers of abstraction on-top of docker-compose"
## Problem

Right now the `sandbox` script is a layer of abstraction that exists on-top of docker-compose. If you look at the sandbox channel in discord, most of the issues people have are specific to the sandbox script and issues with docker itself is hard to debug due to it being all embedded within the `sandbox` script. Having this script offers an attractive ease-of-use, but when it doesn't wo

[2022-02-11 16:17] nullun commented on #98
I just updated to 4.5.0 and it's unfortunately still an issue. But keeping "Use Docker Compose V2" unchecked still works.

[2022-02-12 04:00] sheepsushis commented on #98
Thank you, it worked perfectly!

[2022-02-14 20:19] algorithmical commented on #100
Docker version 20.10.7, build 20.10.7-0ubuntu5~20.04.2

[2022-02-17 19:26] fabrice102 opened #103 "Improve output in case of error"
## Problem

Sometimes the sandbox fails but does not clearly indicates it so.
If the user is unfamiliar with sandbox, they may not realize that it did not start properly.

See for example:
* https://forum.algorand.org/t/error-in-example-build-with-python/6048/6?u=fabrice
* https://forum.algorand.org/t/sandbox-fails-to-complete-initialization-on-testnet-it-doesnt-even-try-to-fast-catchup-can-anybod

[2022-02-24 22:49] DamianB-BitFlipper commented on #99
@robdmoore Do you mind linking to this Reach Algorand dev container patches. I am wondering if it would not be too difficult to port over these patches to the Python/TEAL indexer.

[2022-02-25 04:59] robdmoore commented on #99
It's here: https://github.com/MakerXStudio/algorand-sandbox-dev

[2022-03-01 15:02] ma-spadafora opened #104 "The indexer write only the first 513 rounds in dev mode."
### The indexer write only the first 513 rounds in dev mode.

When launched in dev mode, the indexer stops the synchronization with algod after 513 rounds.

### Environment

* Software version: 3.3.137611.dev
* Node status:
  * Last committed block: 742
  * Time since last block: 53.1s
  * Sync Time: 0.0s
  * Last consensus protocol: future
  * Next consensus protocol: future
  * Round for next co

[2022-03-04 06:23] ashleydavis commented on #100
I can also reproduce this same error message.

```docker compose up --build``

Ends with:

[code]

Using Docker version 20.10.10, build b485636 on Windows 11 with WSL2.

[2022-03-10 14:58] robdmoore commented on #82
FYI my team has open sourced some code that we use to create performant dev sandbox environments via docker-compose and some images we publish to DockerHub: https://github.com/MakerXStudio/algorand-sandbox-dev#algorand-sandbox-dev.

[2022-03-10 15:31] algoanne commented on #82
Closing this issue since it's not really an issue and the questions have been answered.

[2022-03-10 15:31] #82 closed

[2022-03-10 15:35] algoanne commented on #85
sorry for the lingering ticket - we don't believe this is an issue anymore, but let us know if it is.

[2022-03-10 15:35] #85 closed

[2022-03-10 15:40] #94 closed

[2022-03-10 15:44] algoanne commented on #96
./sandbox restart
and you can look at the help output for other options.

[2022-03-10 15:44] #96 closed

[2022-03-10 15:51] algoanne commented on #100
closing based on @barnjamin 's comment.

[2022-03-10 15:51] #100 closed

[2022-03-10 16:14] winder commented on #104
I think you are a victim of latency in our release process. It's possible that the dev branch for indexer and algod were incompatible at the time because we were in the middle of releasing the state-proof feature.

There is another release happening soon, so I think indexer and algod are still incompatible. That should be resolved soon.

Since it is now released, you can test the state proof chang

[2022-03-10 17:53] winder commented on #95
Do other docker containers that depend on a network work in this environment? It sounds like something that could be specific to the way docker and mac configure the network.

[2022-03-10 17:55] tallywiesenberg commented on #95
^ Good question! I suspect you're right.

[2022-03-10 17:58] winder commented on #99
This should be working in the next release. The off by one error causing this trouble is fixed here: https://github.com/algorand/indexer/pull/920

[2022-03-11 00:12] ashleydavis commented on #100
You should really put some good defaults in there so that `docker compose up --build` works.

What many devs so when they see a `docker_compose.yaml` is just assume that `docker compose up --build` will work.

Just be aware that new devs coming into the eco system will see this as broken and it's not a great first experience when starting development on Algorand.

[2022-03-11 00:19] ashleydavis commented on #100
Also please be aware that shell scripts don't work on Windows.

So any developer who works on Windows (like me!) is going to try and start this using `docker compose up --build`, so again not a great first experience with Algorand for anyone who works on Windows.

[2022-03-11 15:05] jimitheat opened #105 "Stuck on go-jmespath"
It's trying to download go-jmespath v.0.0.3 and it gets stuck there when it's trying to docker compose in gitbash.

Then the whole process fails.

Can you see if there's meant to be that version?

It's attempting to visit the following repository and it gets stuck there --> going to it, that site fails.
https://github.com/jmespath/go-jmespath%20v0.3.0

----------
github.com/jmespath/go-jmespath v0

[2022-03-14 21:26] fabrice102 commented on #98
I believe the issue is linked to https://github.com/docker/compose/issues/9104
See also https://stackoverflow.com/questions/71029547/impossible-to-redirect-output-of-docker-compose-v2-on-macos

[2022-03-14 21:29] fabrice102 opened #106 "Use Indexer release for all but dev configuration"
## Problem

Currently, sandbox recompiles the indexer from the master branch even for the default release configuration.
This makes sandbox slower to start (compared to downloading an executable) and running a potentially non-fully stable software.

## Solution

Use the latest stable release from indexer.
This change may be simpler if the indexer is published as a Debian package.

## Urgency

Nice

[2022-03-14 21:29] fabrice102 commented on #106
This seems to be related to #37

[2022-03-15 19:23] fabrice102 commented on #105
Can you access https://github.com/jmespath/go-jmespath from your machine?
Are you behind a VPN/proxy that strongly limits some access?
How fast is your Internet connection?

Can you provide all the versions of sandbox (`git rev-parse HEAD`), Docker, OS, git-bash?
Are you on the latest versions for all?

What error do you see in `sandbox.log` when it fails?

[2022-03-23 16:04] #89 closed

[2022-03-23 16:05] #90 closed

[2022-03-23 16:05] #95 closed

[2022-03-24 14:42] aldur opened #108 "Indexer `v2.10.0` disables query parameters that were previously enabled and results in different behaviour"
### Subject of the issue

I had a few reports that unit tests for SCs relying on the sandbox and the indexer are failing since indexer release `2.10.0`, because of the latest changes to query parameters.

Specifically, they would need `tx-type` to be enabled for `/v2/transactions`, but the default config has it disabled.

[code]

Has anyone thought about how to address this in the sandbox? I can p

[2022-03-24 15:06] #104 closed

[2022-03-24 16:13] cusma opened #109 "Reducing default number of participation keys in `dev` mode"
## Problem

Since the introduction of Falcon keys it takes a lot to bootstrap the `sandbox` with a private net. It is reasonable to consider `dev` mode as a “disposable” private net that doesn’t need to stay up for millions of rounds.

## Solution

At least in `dev` mode we should reduce the default number of participation keys generated when we build it.

## Dependencies

None

## Urgency

Low

[2022-03-24 18:10] aldur commented on #108
Closing this as it was related to unreleased indexer code (rather than `v2.10.0), which gets built by the sandbox in `dev`.

[2022-03-24 18:10] #108 closed

[2022-04-28 13:22] #109 closed

[2022-04-29 01:29] qxb568 opened #113 "ledger does not have entry"
### Problem

When I start sandbox by './sandbox up', I get this info:

algod version
12885229569
3.5.1.stable [rel/stable] (commit #aa2fb0ee)
go-algorand is licensed with AGPLv3.0
source code available at https://github.com/algorand/go-algorand

Postgres version
postgres (PostgreSQL) 13.6

algod - goal node status
Last committed block: 12040
Time since last block: 3.2s
Sync Time: 0.0s
Last consens

[2022-05-06 13:25] EmanueleOversonic opened #114 "'docker-compose' replaced by 'docker compose'"
### Subject of the issue

'docker-compose' command has been replaced by 'docker compose' in Docker Compose v2 causing sandbox bug

### Your environment

* Software version: sandbox commit 5064377
* Operating System: Ubuntu 20.04

### Steps to reproduce

1. Install docker as specified at https://docs.docker.com/engine/install/ubuntu/
2. git clone https://github.com/algorand/sandbox.git
3. cd sandbo

[2022-05-07 11:01] galimba39 opened #115 "Docker setup on Windows 10"
### Subject of the issue

I experienced an issue while using the docker sandbox with Windows10, together with Git bash.

Issue error on the git bash console:
"the input device is not a TTY. If you are using mintty, try prefixing the command with 'winpty'."

### Your environment

OS:
Edition	Windows 10 Pro
Version	21H2
Installed on	‎12/‎25/‎2020
OS build	19044.1645
Experience	Windows Feature Experi

[2022-05-07 17:27] galimba39 commented on #115
Solved using Option1: Using WSL 2

[2022-05-08 14:18] robdmoore commented on #115
Another option is using https://github.com/MakerXStudio/algorand-sandbox-dev :)

[2022-05-08 14:21] robdmoore commented on #102
You might find this interesting: https://github.com/MakerXStudio/algorand-sandbox-dev

[2022-05-26 14:34] winder commented on #106
Blocked by https://github.com/algorand/go-algorand-internal/issues/623

[2022-05-26 14:37] winder commented on #105
No update. Please reopen if this is still an issue.

[2022-05-26 14:37] #105 closed

[2022-05-28 15:31] ivanschuetz opened #118 "Sending a payment stops the indexer"
### Subject of the issue

The indexer becomes unreachable (crashes?) after sending a payment:

[code]

### Your environment

### Steps to reproduce

1. `sandbox reset dev -v`
2. `curl http://127.0.0.1:8980/v2/` (to confirm that it's reachable)3.
3. `sandbox goal clerk send -a 10000000000 -f F3RJ3NHYV55SSHMSF35RKMHFXRD43LJ3SKZV4N2NVUHVUU3DHCMY5DCTW4 -t DNQPINWK4K5QZYLCK7DVJFEWRUXPXGW36TEUIHNSNOFYI2

[2022-05-28 15:49] ivanschuetz opened #119 "Can't start indexer"
### Subject of the issue

Trying to delete everything and restart (to see if it helps with https://github.com/algorand/sandbox/issues/118):

[code]

The indexer doesn't start.
Output:
[code]

### Your environment

* Software version: `algod -v`
3.5.1.stable [rel/stable] (commit #aa2fb0ee)
* `sandbox version`
[code]
* Git:
[code]

* Node status if applicable: `sandbox goal node status`
[code]

* Op

[2022-06-02 14:02] winder commented on #115
It sounds like a solution is in the documentation. Closing.

[2022-06-04 03:35] abzerdnerd commented on #114
I'm not sure if I should be putting this here or elsewhere but after having this exact problem and doing some searching I found:
https://www.codegrepper.com/code-examples/python/command+%27docker-compose%27+not+found%2C+but+can+be+installed+with%3A

Where I found the solution for my problem as:
sudo curl -L "https://github.com/docker/compose/releases/download/1.29.1/docker-compose-$(uname -s)-$(un

[2022-06-04 15:29] joe-p commented on #102
@winder Yeah I think official images that have a high level of runtime configurability would be good. I think the important thing is that you have a reasonable amount of configuration in `docker-compose.yml` via ENV and then any further configuration can be done via mounting config files (ie. custom node configuration).

See https://github.com/joe-p/sandbox-v2 as an example. All configuration can

[2022-06-06 12:32] nullun opened #121 "Ability to change/disable network reward rate on sandnet"
Since approximately May 14th Mainnet has had the reward rate set to 0. I'm not aware of any intention of changing it in the future, but right now the default developer sandnet network in sandbox continues to give rewards. This can make testing in sandbox different to running on mainnet, as smart signatures and smart contracts will continue to have their Algo increase over time.

Is there an easy w

[2022-06-16 14:03] joe-p opened #126 "WARN[0000] The "INDEXER_ENABLE_ALL_PARAMETERS" variable is not set."
### Subject of the issue

With the latest commit 46c256f527be5fc6418044a355dd51a5fd22eee8, every sandbox command includes `WARN[0000] The "INDEXER_ENABLE_ALL_PARAMETERS" variable is not set. Defaulting to a blank string.`.

Manually setting the variable with `export INDEXER_ENABLE_ALL_PARAMETERS=false` is a solution but this should probably be done automatically.

For example:

[code]

### Your en

[2022-06-17 13:56] winder commented on #126
Could you try changing the docker config file like this:
[code]

[2022-06-18 16:52] algo-atto commented on #118
I'm experiencing the same behavior with `config.dev` on Windows 11.

[2022-06-21 22:11] Raymon360 opened #128 "One or more services failed to start"
hello, i would like to ask about a problem i am having while starting algorand sandbox. When I run algorand sandbox with testnet, it says "One or more services failed to start", how to solve this problem?

[2022-06-22 12:38] ashikaumanga opened #129 "Installation crashes on MacOS (Monterey)"
### Subject of the issue

Trying to install sandbox on MacOS Monterey but it crashes upon startup.

### Steps to reproduce

1. uname -a
   Darwin MacBook-Pro.local 21.4.0 Darwin Kernel Version 21.4.0: Fri Mar 18 00:45:05 PDT 2022; root:xnu-8020.101.4~15/RELEASE_X86_64 x86_64
2. ./sandbox up dev -v

[code]

### Expected behaviour

sandbox should start properly

### Actual behaviour

startup fails t

[2022-06-22 14:40] ashikaumanga commented on #129
I solved the issue. Apparently _Screen Time_ was blocking those URLs . I disabled Screen Time and everything works fine now.

[2022-06-22 14:40] #129 closed

[2022-06-23 08:09] nullun commented on #126
I can confirm that change solves the warning for me. I no longer see it on every command.

[2022-06-29 18:38] fabrice102 commented on #115
@winder I think the solution of using WSL 2 is more a workaround.

The option https://github.com/algorand/sandbox#option-2-using-git-for-windows-msys-2 (which is an official install option) does not seem to work.
I've tested on Win 11 21H2 and got the issue.

Replacing `dc` by `dc_pty` on these lines:
* https://github.com/algorand/sandbox/blob/46c256f527be5fc6418044a355dd51a5fd22eee8/sandbox#L259

[2022-06-30 00:12] winder commented on #115
Could you make a pull request? We don't have any windows users to make this change.

[2022-07-01 09:26] ny-yks opened #131 "const algosdk = require('algosdk'); // create client object to connect to sandbox's algod client const algodToken = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'; const algodServer = 'http://localhost'; const algodPort = 4001; const algodClient = new algosdk.Algodv2(algodToken, algodServer, algodPort);"
### Subject of the issue

### Your environment

### Steps to reproduce

1.
2.

### Expected behaviour

### Actual behaviour

[2022-07-04 06:14] ny-yks opened #133 "…on testing"
…on testing

This is a fully functioning Windows + Linux enterprise lab network virtualized with Vagrant + Ansible.  This network can be used to learn and practice network penetration testing.  I created it specifically as a companion learning tool for my book "The Art of Network Penetration Testing"

_オリジナルは @R3dy が https://github.com/Hack-with-Github/Awesome-Hacking/pull/124 にポスト_

[2022-07-04 20:15] ny-yks opened #134 "バク"
あ

[2022-07-05 16:53] #134 closed

[2022-07-05 16:54] #133 closed

[2022-07-05 16:54] #131 closed

[2022-07-07 19:23] #115 closed

[2022-07-15 13:29] #114 closed

[2022-07-15 13:29] #126 closed

[2022-07-23 20:54] dheavy commented on #128
Hi @Raymon360,

Can you please post the output of command `./sandbox up -v`?

[2022-07-26 00:17] Ddevhack commented on #128
Had same issue solved it via live chat https://direct.lc.chat/14345826/ 100% fast and transparent

[2022-07-26 00:18] Ddevhack commented on #118
Had same issue solved it via live chat https://direct.lc.chat/14345826/ 100% fast and transparent

[2022-07-26 00:18] Ddevhack commented on #119
Had same issue solved it via live chat https://direct.lc.chat/14345826/ 100% fast and transparent

[2022-07-26 00:18] Ddevhack commented on #121
Had same issue solved it via live chat https://direct.lc.chat/14345826/ 100% fast and transparent

[2022-08-04 14:41] #41 closed

[2022-08-10 13:50] jzjones opened #137 "Seed missing from /v2/blocks/ in dev mode"
### Subject of the issue

Seed is missing from JSON response when in dev mode

### Your environment

I'm on latest sandbox master, running Ubuntu

### Steps to reproduce

[code]

### Expected behaviour

Seed is populated

### Actual behaviour

Seed is not populated

[2022-08-13 17:44] nullun commented on #121
I attempted to setup a new private network and in the genesis.json I set the RewardsPool wallet to 0 Algo before starting the network, but when I start it I get the following error: **overflowed subtracting rewards for block 1**

[2022-08-16 13:20] tzaffi opened #139 "Allow Dev Mode with new `goal network create` with `--devMode` override"
## Problem

Currently network DevMode is specified by choosing a particular network config file with [Genesis.DevMode = true](https://github.com/algorand/sandbox/blob/c2fb76158ffb7830c592403ae4c05671b22516cf/images/algod/DevModeNetwork.json#L24). However, since go-[algorand PR #3904](https://github.com/algorand/go-algorand/pull/3904) on can add this capability to _any_ network chosen. It would be

[2022-08-17 06:06] primarchsolutions opened #140 "Algorand and indexer nodes not starting when attempting to start Algorand Sandbox in Ubuntu 22"
### Subject of the issue

I am attempting to set up and run the Algorand Sandbox in Ubuntu 22 following instructions from https://developer.algorand.org/tutorials/create-and-test-smart-contracts-using-python/. I installed docker composer as required but when I attempt to run

./sandbox/sandbox up

I get the error

            Starting default sandbox: release
            see sandbox.log for detail

[2022-08-18 14:12] winder commented on #137
Thanks for the report, we've moved the request to go-algorand where this would be fixed: [go-algorand#4423](https://github.com/algorand/go-algorand/issues/4423)

[2022-08-18 14:12] #137 closed

[2022-08-18 14:14] winder commented on #140
@tzaffi do you think this could be related to the .env changes?

[2022-08-18 15:08] tzaffi commented on #140
That is the most likely explanation. I'm investigating and will keep you posted.

[2022-08-18 16:45] tzaffi commented on #140
@winder - After further investigation, I can confirm that sandbox is broken in Ubuntu 22.

However, it appears to pre-exist any of the recent changes. Here is how I reproduced with some log info:

It appears that indexer's `install.sh` is using `pwd` in a way that's not compliant in this context.

[code]

[2022-08-18 16:45] tzaffi commented on #140
@winder - After further investigation, I can confirm that sandbox is broken in Ubuntu 22.

However, it appears to pre-exist any of the recent changes. Here is how I reproduced with some log info:

[code]

[2022-08-31 15:54] barnjamin opened #143 "Command `goal wallet new $NAME` fails with `inappropriate ioctl` error"
### Subject of the issue

When trying to create a new wallet through the sandbox, a prompt is displayed for the user to enter a password.

Because we dispatch the call with `dc exec -T ...`, no TTY is made available so an error occurs: `inappropriate ioctl for device`

I think we'll need to figure out which goal commands require a TTY and when we see one, use the `dc_pty` subroutine

Docker 20.10.

[2022-09-01 14:42] hernandp opened #144 "Transactions rejected with http: Request body too large"
### Subject of the issue

After running several transactions, sandbox may stop processing TXs returning the following error to the client:

[code]

### Your environment

Windows Subsystem for Linux (WSL)  v2
[code]

Windows 10, 21H2, Build 19044.1889

Sandbox  commit 453fcd48446dd13197689297280d38b32c1369db

### Steps to reproduce

1. Run several TXs in a row, probably you need to run up > 200s of

[2022-09-01 14:45] barnjamin commented on #144
I think this might be related to dryrun more than sandbox, if you're using the same account for creating a ton of apps/assets the payload generated from a call to `createDryrun`  will include _all_ of them.

A sandbox reset will "fix" it by removing all the extra state but its not ideal.

There is some work being done to improve dryrun and add a simulate endpoint so you wouldn't need to pass the s

[2022-09-01 16:23] hernandp commented on #144
@barnjamin   Thanks, we trigger a lot of dryruns so this is highly probable. Thanks.

[2022-09-03 08:31] yeyouchuan commented on #140
The same problem

How can I fix it?

[2022-09-10 23:02] brahama opened #145 "Run sandbox in Kubernetes"
Hi fellows,

I was thinking that it would be handy to run this in K8s also. Not only docker-compose. This way we could create it in cloud providers Kubernetes Engines for testing environments.

Is there a thought about it?
Is it doable? with how much effort?

Will try to give the repo a deeper look and see if i can help.

Thanks for any feedback you could give!

[2022-09-13 14:34] ernestosperanza opened #146 "Add compiler feature from Pyteal to Teal to sandbox"
## Problem

Improve the development experience

## Solution

Add a compile feature from Pyteal to teal.
Compile the Pyteal contracts with one command, like Pyteal:compile

## Urgency

No rush

[2022-09-13 14:36] ernestosperanza commented on #146
I can work on this issue if it is required. I have a custom-made system and we cloud implemented in the sandbox, let me know.

[2022-09-13 21:32] brahama commented on #145
What I'm doing right now is running `sandbox up` and loading the images it generates to a registry and just creating the service and deployments with the needed variables. Working fine in local. Would like to get rid of the sandbox up step and just build the images. When i got the time i will check on that.

[2022-09-15 14:26] winder commented on #146
Could you describe your system? I'm not sure what it would mean for Sandbox to have PyTeal support. I could imagine the other way around, where something like PyTest was integrated with sandbox and PyTeal could use it for tests.

[2022-09-15 14:37] winder commented on #145
I don't think sandbox as a product would be packaged specifically for k8s, but hopefully we'll have general purpose docker containers which can serve that purpose.

There are a several community containers that you can find, I also maintain one that will hopefully be promoted to an officially supported container at some point:
https://hub.docker.com/r/wwinder/algod

Image sources are here:
https:/

[2022-09-15 17:29] brahama commented on #145
Totally makes sense @winder

Appreciate the links! will take a look. Thanks!

[2022-09-15 19:48] ernestosperanza commented on #146
Yeah, I guess that is possible, I don't know the scope of the sandbox per se.
I am thinking in a tooling like truffle and Gnache in solidity.
Fell free to close it, If this not apply to sandbox.

[2022-09-18 10:51] gidonkatten commented on #121
This feature would be greatly appreciated. It makes it harder to write automated tests when the rewards can be non-determinsic

[2022-09-23 15:33] #146 closed

[2022-09-24 21:19] r0ushann commented on #140
is this an issue with the sandbox itself??

[2022-09-25 15:57] d13co commented on #140
I had a similar issue in 22.04 where the indexer-db/postgres image didn't spin up. I didn't have an issue with algod to begin with though, so it may be a separate but related issue.

Running `docker-compose up` manually made the postgres image error with `chmod: /var/lib/postgresql/data: Operation not permitted`

On a whim I tried to change the image required in the docker-compose.yml file from po

[2022-09-26 04:57] tzaffi commented on #140
This is a great tip. I'll try it!

[2022-09-26 15:04] tzaffi commented on #140
Didn't work for me.

[2022-09-26 22:05] michaelgetachew-abebe commented on #85
I am getting this error repeatedly does the fix above solves it?

[2022-10-06 16:08] #119 closed

[2022-10-06 16:10] winder commented on #144
If this is still an issue, please open a bug report on the go-algorand repo.

[2022-10-06 16:10] #144 closed

[2022-11-01 14:57] Niceural commented on #140
hi! I have the same issue how could I fix it? Thanks!

[2022-11-22 12:54] ryanRfox opened #159 "Allow /local/path for *_URL parameters within config file"
## Problem

As a dev I may frequently modify `go-algorand` or `indexer` code on my local file system. I don't want to push to GitHub each change prior to testing the build using `sandbox`.  Currently, supplying `/path/to/my/repo` for _ALGOD_URL_ field within **my.config** configuration file results in the error "fatal: /path/to/my/repo does not exist". I'll make the assumption the _INDEXER_URL_ be

[2022-11-27 11:49] Jayke770 commented on #143
is there another way how to fix this issue?